.array-elem {
    display: inline-block;
    margin:2px;
    width: 7px;
    background-color: lightblue;
    border: solid black 0.5px
}


.array-container {
    margin: 0 auto;
    width:100%;
    height:70vh;
    position: relative;
    top: 20vh;
    transform: translateY(-20%);
}

.array-bars{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;

}

.navbar > button {
    margin: 5px
}

/*
@media screen and (max-width: 400px){
    .array-elem {
        margin:1px;
        width: 3px;
        background-color: lightblue;
    }
}
*/